---
- name: Add NAS clients to clients.conf
  ansible.builtin.blockinfile:
    path: "{{ freeradius_raddb }}/clients.conf"
    marker: "# {mark} ANSIBLE MANAGED - {{ item.name }}"
    block: |
      client {{ item.name }} {
          ipaddr          = {{ item.ipaddr }}
          secret          = {{ item.secret }}
          shortname       = {{ item.shortname }}
          nastype         = {{ item.nastype }}
      }
  loop: "{{ freeradius_nas_clients }}"
  notify: Restart radiusd

- name: Add test users to authorize file
  ansible.builtin.blockinfile:
    path: "{{ freeradius_raddb }}/mods-config/files/authorize"
    marker: "# {mark} ANSIBLE MANAGED - lab test users"
    block: "{{ lookup('template', 'authorize_users.j2') }}"
  notify: Restart radiusd

- name: Ensure log directory exists
  ansible.builtin.file:
    path: /var/log/radius
    state: directory
    owner: radiusd
    group: radiusd
    mode: "0750"

- name: Deploy linelog module config
  ansible.builtin.template:
    src: linelog.j2
    dest: "{{ freeradius_raddb }}/mods-available/linelog"
    owner: root
    group: radiusd
    mode: "0640"
  notify: Restart radiusd

- name: Enable linelog module
  ansible.builtin.file:
    src: "{{ freeradius_raddb }}/mods-available/linelog"
    dest: "{{ freeradius_raddb }}/mods-enabled/linelog"
    state: link
  notify: Restart radiusd

- name: Wire linelog into post-auth
  ansible.builtin.blockinfile:
    path: "{{ freeradius_raddb }}/sites-available/default"
    marker: "# {mark} ANSIBLE MANAGED - linelog post-auth"
    insertafter: "^post-auth {"
    block: |2
              linelog
  notify: Restart radiusd

- name: Wire linelog into post-auth reject
  ansible.builtin.blockinfile:
    path: "{{ freeradius_raddb }}/sites-available/default"
    marker: "# {mark} ANSIBLE MANAGED - linelog post-auth reject"
    insertafter: "Post-Auth-Type REJECT {"
    block: |2
              linelog
  notify: Restart radiusd

- name: Wire linelog into accounting
  ansible.builtin.blockinfile:
    path: "{{ freeradius_raddb }}/sites-available/default"
    marker: "# {mark} ANSIBLE MANAGED - linelog accounting"
    insertafter: "^accounting {"
    block: |2
              linelog
  notify: Restart radiusd

- name: Enable status_server in radiusd.conf
  ansible.builtin.lineinfile:
    path: "{{ freeradius_raddb }}/radiusd.conf"
    regexp: "^#?\\s*status_server\\s*="
    line: "status_server = yes"
  when: freeradius_status_server_enabled
  notify: Restart radiusd

- name: Enable status virtual server
  ansible.builtin.file:
    src: "{{ freeradius_raddb }}/sites-available/status"
    dest: "{{ freeradius_raddb }}/sites-enabled/status"
    state: link
  when: freeradius_status_server_enabled
  notify: Restart radiusd

- name: Verify FreeRADIUS configuration syntax
  ansible.builtin.command: /usr/sbin/radiusd -C
  changed_when: false
