---
- name: Create RPM download directory
  ansible.builtin.file:
    path: /tmp/rpms
    state: directory
    mode: "0755"

- name: Download RPMs from S3
  ansible.builtin.command:
    cmd: aws s3 cp "s3://{{ rpm_bucket }}/rpms/{{ rpm_arch }}/" /tmp/rpms/ --recursive
  changed_when: true

- name: Find downloaded RPMs
  ansible.builtin.find:
    paths: /tmp/rpms
    patterns: "{{ freeradius_rpm_packages }}"
  register: freeradius_rpm_files

- name: Install FreeRADIUS RPMs
  ansible.builtin.shell: |
    dnf install -y --nogpgcheck {{ freeradius_rpm_files.files | map(attribute='path') | join(' ') }}
  register: freeradius_dnf_result
  changed_when: "'Nothing to do' not in freeradius_dnf_result.stdout"

- name: Verify FreeRADIUS installation
  ansible.builtin.command: /usr/sbin/radiusd -v
  changed_when: false
  register: freeradius_radiusd_version

- name: Show FreeRADIUS version
  ansible.builtin.debug:
    var: freeradius_radiusd_version.stdout_lines
