---
- name: Add Vector yum repository
  ansible.builtin.yum_repository:
    name: timber-vector
    description: Vector - An observability data pipeline
    baseurl: https://yum.vector.dev/stable/vector-0/$basearch/
    gpgcheck: false
    enabled: true

- name: Install Vector
  ansible.builtin.shell: |
    dnf install -y "vector-{{ vector_version }}"
  register: vector_dnf_result
  changed_when: "'Nothing to do' not in vector_dnf_result.stdout"

- name: Verify Vector installation
  ansible.builtin.command: vector --version
  changed_when: false
  register: vector_version_output

- name: Show Vector version
  ansible.builtin.debug:
    var: vector_version_output.stdout_lines
